# Node & Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IDE / OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.iml

# Environnements & secrets
*.env
**/application-*.yml
