<!-- Barre de navigation principale -->
<nav class="navbar">
  <div class="navbar__content">
    <!-- Logo ou nom -->
    <a routerLink="/" class="navbar__logo">Du code à l'intelligence, de l'expérience à la vision</a>

    <!-- Liens -->
    <!-- <ul class="navbar__links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
      <li><a routerLink="/a-propos" routerLinkActive="active">À propos</a></li>
      <li><a routerLink="/competences" routerLinkActive="active">Compétences</a></li>
      <li><a routerLink="/projets" routerLinkActive="active">Projets</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul> -->
  </div>
</nav>
